.header__link_button {
   background-color: transparent;
   border: 0;
   padding: 15px;
   font-size: 18px;
   line-height: 22px;
   color: rgb(169, 169, 169)
}

.header__link_button:hover {
   cursor: pointer;
}

@media all and (min-width: 240px) and (max-width: 639px) {

   .header__link_button {
      position: static;
      align-self: center;
      
}
}