.header__link {
   display: block;
   color: #fff;
   font-size: 18px;
   line-height: 1.2em;
   text-decoration: none;
}

.header__link:hover {
   opacity: .6;
}

@media all and (min-width: 240px) and (max-width: 639px) {

   .header__link {
      position: absolute;
      top: 30px;
      right: 30px;
   }
}