.header__burger-menu {
   display: none;
}

@media all and (min-width: 240px) and (max-width: 639px) {

   .header__burger-menu {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      right: 25px;
      padding: 0;
      margin: 0;

   }
}
