.popup__form {
    width: 100%;
    max-width: 430px;
    position: relative;
    box-sizing: border-box;
    padding: 36px 36px 36px 36px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
    border-radius: 10px;
}

@media all and (min-width: 240px) and (max-width: 639px) {

    .popup__form {
        max-width: 282px;
        padding: 25px 22px 25px 22px;
    }
}